.root {
  font: 14px / 20px sans-serif;
  cursor: default;

  a {
    text-decoration: underline;
  }

  h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
  }

  h2 {
    margin: 60px 0 30px 0;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
  }

  .input-area {
    .visualize-section {
      display: flex;
      flex-direction: row;

      > * {
        display: inline-flex;
        flex-direction: column;

        user-select: none;

        @mixin td {
          padding: 5px 2px;
        }

        .nibble {
          font-size: 10px;
          line-height: 6px;
          border: none;
          @include td;

          &[data-dark="true"] {
            background: #ddd;
          }
        }

        .bit {
          @include td;
          font-size: 14px;
          margin-inline: 0px;

          &.sign {
            background: #bbf;
            &:hover {
              background: #99d;
            }
          }
          &.exponent {
            background: #bfb;
            &:hover {
              background: #9d9;
            }
          }
          &.fraction {
            background: #fbb;
            &:hover {
              background: #d99;
            }
          }
        }
      }

      > :not(:last-child) {
        .bit {
          border: 1px solid #000;
          border-right: 0;
        }
      }
      > :last-child {
        .bit {
          border: 1px solid #000;
        }
      }
    }
  }
  .output-area {
    margin-top: 10px;

    > :first-child {
      font-size: 20px;
      line-height: 28px;
      padding-left: 3px;

      > * {
        padding: 3px;
        margin: -3px;
      }
      white-space: nowrap;
    }

    .sign {
      background: #ddf;
    }
    .exponent {
      background: #dfd;
    }
    .fraction {
      background: #fdd;
    }
  }

  .input-area,
  .output-area {
    border-collapse: collapse;
    font-size: 20px;
    line-height: 14px;
    width: 100%;
    text-align: center;

    display: flex;
    flex-direction: row;
    @supports (align-items: last baseline) {
      align-items: last baseline;
    }
    align-items: flex-end;
    justify-content: flex-start;

    > :last-child {
      flex: 1 1 auto;
    }

    input {
      font: inherit;
      padding: 5px;
      margin: -5px;
      outline: none;
      width: 100%;
      min-width: 200px;
      background: transparent;
      height: 26px;
      line-height: 26px;
      box-sizing: content-box;

      &:hover,
      &:focus {
        background: rgba(0, 0, 0, 0.066);
      }
    }
  }
}
