// media query workaround
@mixin fluent-web_light-mixin {
  --colorNeutralForeground1: #242424;
  --colorNeutralForeground1Hover: #242424;
  --colorNeutralForeground1Pressed: #242424;
  --colorNeutralForeground1Selected: #242424;
  --colorNeutralForeground2: #424242;
  --colorNeutralForeground2Hover: #242424;
  --colorNeutralForeground2Pressed: #242424;
  --colorNeutralForeground2Selected: #242424;
  --colorNeutralForeground2BrandHover: #0f6cbd;
  --colorNeutralForeground2BrandPressed: #115ea3;
  --colorNeutralForeground2BrandSelected: #0f6cbd;
  --colorNeutralForeground3: #616161;
  --colorNeutralForeground3Hover: #424242;
  --colorNeutralForeground3Pressed: #424242;
  --colorNeutralForeground3Selected: #424242;
  --colorNeutralForeground3BrandHover: #0f6cbd;
  --colorNeutralForeground3BrandPressed: #115ea3;
  --colorNeutralForeground3BrandSelected: #0f6cbd;
  --colorNeutralForegroundDisabled: #bdbdbd;
  --colorNeutralForegroundInvertedDisabled: rgba(255, 255, 255, 0.4);
  --colorBrandForegroundLink: #115ea3;
  --colorBrandForegroundLinkHover: #0f548c;
  --colorBrandForegroundLinkPressed: #0c3b5e;
  --colorBrandForegroundLinkSelected: #115ea3;
  --colorBrandForeground1: #0f6cbd;
  --colorBrandForeground2: #115ea3;
  --colorNeutralForeground1Static: #242424;
  --colorNeutralForegroundStaticInverted: #ffffff;
  --colorNeutralForegroundInverted: #ffffff;
  --colorNeutralForegroundInvertedHover: #ffffff;
  --colorNeutralForegroundInvertedPressed: #ffffff;
  --colorNeutralForegroundInvertedSelected: #ffffff;
  --colorNeutralForegroundInverted2: #ffffff;
  --colorNeutralForegroundOnBrand: #ffffff;
  --colorNeutralBackground1: #ffffff;
  --colorNeutralBackground1Hover: #f5f5f5;
  --colorNeutralBackground1Pressed: #e0e0e0;
  --colorNeutralBackground1Selected: #ebebeb;
  --colorNeutralBackground2: #fafafa;
  --colorNeutralBackground2Hover: #f0f0f0;
  --colorNeutralBackground2Pressed: #dbdbdb;
  --colorNeutralBackground2Selected: #e6e6e6;
  --colorNeutralBackground3: #f5f5f5;
  --colorNeutralBackground3Hover: #ebebeb;
  --colorNeutralBackground3Pressed: #d6d6d6;
  --colorNeutralBackground3Selected: #e0e0e0;
  --colorNeutralBackground4: #f0f0f0;
  --colorNeutralBackground4Hover: #fafafa;
  --colorNeutralBackground4Pressed: #f5f5f5;
  --colorNeutralBackground4Selected: #ffffff;
  --colorNeutralBackgroundInverted: #292929;
  --colorNeutralBackground6: #e6e6e6;
  --colorSubtleBackground: transparent;
  --colorSubtleBackgroundHover: #f5f5f5;
  --colorSubtleBackgroundPressed: #e0e0e0;
  --colorSubtleBackgroundSelected: #ebebeb;
  --colorSubtleBackgroundLightAlphaHover: rgba(255, 255, 255, 0.7);
  --colorSubtleBackgroundLightAlphaPressed: rgba(255, 255, 255, 0.5);
  --colorSubtleBackgroundLightAlphaSelected: transparent;
  --colorSubtleBackgroundInverted: transparent;
  --colorSubtleBackgroundInvertedHover: rgba(0, 0, 0, 0.1);
  --colorSubtleBackgroundInvertedPressed: rgba(0, 0, 0, 0.3);
  --colorSubtleBackgroundInvertedSelected: rgba(0, 0, 0, 0.2);
  --colorTransparentBackground: transparent;
  --colorTransparentBackgroundHover: transparent;
  --colorTransparentBackgroundPressed: transparent;
  --colorTransparentBackgroundSelected: transparent;
  --colorNeutralBackgroundDisabled: #f0f0f0;
  --colorNeutralBackgroundInvertedDisabled: rgba(255, 255, 255, 0.1);
  --colorBackgroundOverlay: rgba(0, 0, 0, 0.4);
  --colorBrandBackground: #0f6cbd;
  --colorBrandBackground2: #ebf3fc;
  --colorBrandBackgroundHover: #115ea3;
  --colorBrandBackgroundPressed: #0c3b5e;
  --colorBrandBackgroundSelected: #0f548c;
  --colorBrandBackgroundStatic: #0f6cbd;
  --colorNeutralStrokeAccessible: #616161;
  --colorNeutralStrokeAccessibleHover: #575757;
  --colorNeutralStrokeAccessiblePressed: #4d4d4d;
  --colorNeutralStrokeAccessibleSelected: #0f6cbd;
  --colorNeutralStroke1: #d1d1d1;
  --colorNeutralStroke1Hover: #c7c7c7;
  --colorNeutralStroke1Pressed: #b3b3b3;
  --colorNeutralStroke1Selected: #bdbdbd;
  --colorNeutralStroke2: #e0e0e0;
  --colorNeutralStroke3: #f0f0f0;
  --colorNeutralStrokeOnBrand: #ffffff;
  --colorNeutralStrokeOnBrand2: #ffffff;
  --colorNeutralStrokeOnBrand2Hover: #ffffff;
  --colorNeutralStrokeOnBrand2Pressed: #ffffff;
  --colorNeutralStrokeOnBrand2Selected: #ffffff;
  --colorBrandStroke1: #0f6cbd;
  --colorBrandStroke2: #b4d6fa;
  --colorCompoundBrandStroke: #0f6cbd;
  --colorCompoundBrandStrokeHover: #115ea3;
  --colorCompoundBrandStrokePressed: #0f548c;
  --colorNeutralStrokeDisabled: #e0e0e0;
  --colorNeutralStrokeInvertedDisabled: rgba(255, 255, 255, 0.4);
  --colorTransparentStroke: transparent;
  --colorTransparentStrokeInteractive: transparent;
  --colorTransparentStrokeDisabled: transparent;
  --colorStrokeFocus1: #ffffff;
  --colorStrokeFocus2: #000000;
  --colorNeutralShadowAmbient: rgba(0, 0, 0, 0.12);
  --colorNeutralShadowKey: rgba(0, 0, 0, 0.14);
  --colorNeutralShadowAmbientLighter: rgba(0, 0, 0, 0.06);
  --colorNeutralShadowKeyLighter: rgba(0, 0, 0, 0.07);
  --colorNeutralShadowAmbientDarker: rgba(0, 0, 0, 0.2);
  --colorNeutralShadowKeyDarker: rgba(0, 0, 0, 0.24);
  --colorBrandShadowAmbient: rgba(0, 0, 0, 0.3);
  --colorBrandShadowKey: rgba(0, 0, 0, 0.25);
  --shadow2: 0 0 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.14);
  --shadow4: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.14);
  --shadow8: 0 0 2px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.14);
  --shadow16: 0 0 2px rgba(0, 0, 0, 0.12), 0 8px 16px rgba(0, 0, 0, 0.14);
  --shadow2Brand: 0 0 2px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.25);
  --shadow4Brand: 0 0 2px rgba(0, 0, 0, 0.3), 0 2px 4px rgba(0, 0, 0, 0.25);
  --shadow8Brand: 0 0 2px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.25);
  --shadow16Brand: 0 0 2px rgba(0, 0, 0, 0.3), 0 8px 16px rgba(0, 0, 0, 0.25);
}

.fluent-web_light {
  @include fluent-web_light-mixin();
}
