.tagsListItem {
  margin: 0.2em 0;
  padding: 0.4em 1em;
  border-radius: 4;
}
.tagsListItem > a {
  color: rgb(17, 24, 39);
}
.tagsListItem:hover {
  background-color: #e8eaee;
}
.tagsListItem:hover > a {
  color: rgb(55, 65, 81);
}
