.Github {
  --color-canvas-default: #0d1117;

  position: relative;
  width: 100%;
  background-color: var(--color-canvas-default);
  color: var(--color-fg-default, #c9d1d9);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;

  div[role="article"] {
    --top-padding: 32px;

    margin-top: 16px;
    max-width: 1216px;
    background-color: var(--color-canvas-default);
    border-style: solid;
    border-color: #30363d;
    border-radius: 6px;
    border-width: 1px;
    position: relative;

    padding: var(--top-padding);
    padding-top: 0 !important;
    @media (min-width: 1280px) {
      --top-padding: 40px;
      padding: 40px;
    }

    @media (min-width: 768px) {
      margin-right: calc(30px + var(--scrollbar-size));
      margin-left: calc(30px + var(--scrollbar-size));
    }
    @media (min-width: 1216px) {
      margin-right: calc(32px + var(--scrollbar-size));
      margin-left: calc(32px + var(--scrollbar-size));
    }
    @media (min-width: 1280px) {
      margin-right: auto;
      margin-left: auto;
    }

    $feedbackBottom: calc(16px * 2);

    margin-bottom: calc($feedbackBottom * 2);

    &::before {
      content: "";
      display: block;
      position: sticky;
      top: 0;
      z-index: 2;
      height: 50px;
      margin: -1px calc(var(--top-padding) * -1 - 1px) var(--top-padding);
      background-color: #161b22;
      border-width: 1px;
      border-style: solid;
      border-color: #30363d;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }
    &::after {
      content: "Give feedback";
      font-size: 14px;
      padding-top: 16px;
      position: absolute;
      bottom: -$feedbackBottom;
      left: 0;
      display: inline-block;
      color: #58a6ff;
      white-space: nowrap;
      cursor: pointer;
      background-color: transparent;
      appearance: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  h1 {
    display: none;
    visibility: hidden;
  }

  article {
    position: relative;
    max-width: 1012px;
    margin-left: auto;
    margin-right: auto;

    h1 {
      display: block;
      visibility: visible;
      padding-bottom: 0.3em;
      font-size: 2em;
      border-bottom: 1px solid #21262d;
    }

    img {
      box-sizing: content-box;
      background-color: var(--color-canvas-default);
      max-width: 100%;
    }

    figure {
      a {
        width: 100%;
      }
    }

    > *:first-child {
      margin-top: 0 !important;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 24px;
      margin-bottom: 16px;
      font-weight: 600;
      line-height: 1.25;
    }

    h2,
    ul,
    p,
    blockquote,
    details {
      margin-top: 0;
      margin-bottom: 16px;
    }

    details {
      cursor: pointer;
    }

    code {
      font-family:
        ui-monospace,
        SFMono-Regular,
        SF Mono,
        Menlo,
        Consolas,
        Liberation Mono,
        monospace;
      padding: 0.2em 0.4em;
      margin: 0;
      font-size: 85%;
      white-space: break-spaces;
      background-color: rgba(110, 118, 129, 0.4);
      border-radius: 6px;
    }

    h2 {
      padding-bottom: 0.3em;
      font-size: 1.5em;
      border-bottom: 1px solid #21262d;
    }

    h3 {
      font-size: 1.25em;
    }

    ul {
      padding-left: 2em;
      margin-top: 0;
      list-style-type: disc;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      padding-inline-start: 40px;
    }

    hr {
      height: 0.25em;
      padding: 0;
      margin: 24px 0;
      background-color: #30363d;
      border: 0;
    }

    blockquote {
      padding: 0 1em;
      color: #8b949e;
      border-left: 0.25em solid #30363d;
    }

    strong {
      font-weight: 600;
    }
  }

  a {
    background-color: transparent;
    color: var(--color-accent-fg, #58a6ff);
    text-decoration: none;
  }

  [align="center"] {
    margin-left: auto;
    margin-right: auto;
  }
}
