.mainStyle {
  background-color: #293134;
}

.graphicsPost {
  font-size: 18px;
  width: auto;
  font-family: "Source Code Pro", sans-serif;
  color: #e0e2e4;
  cursor: default;
  user-select: none;
  white-space: nowrap;
}

.indexingStyle {
  filter: invert(1);
}

.taglistsStyle {
  filter: invert(25%) contrast(2);
}
.titleStyle {
  color: inherit;
}

.hrStyle {
  height: 12px;
  background-color: #e0e2e4;
  border: 0;
  margin-left: 0;
  width: 50%;
}
.aStyle {
  color: #a6b9e4;
  font-weight: bold;
  text-decoration: none;
}
.thStyle,
.tdStyle {
  font-size: 90%;
  padding-right: 2%;
  padding-left: 2%;
  text-align: left;
  width: auto;
  white-space: nowrap;
}
.tdStyle {
  padding-left: 2em;
  width: auto;
}
tr {
  background-color: #444757;
}
.Comment {
  padding: 8px;
  position: fixed;
  bottom: 2%;
  right: 0;
  font-size: 18px;
  background-color: #e0e2e4;
  color: #293134;
  margin-left: 45%;
  animation: CommentAnima 1.5s;
}

@keyframes CommentAnima {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
