#Title {
  font-size: 24px;
  margin-left: 40px;
}
.model {
  display: inline-block;
  cursor: pointer;
  color: #d9ff00;
}
.FullScreen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #293134;
  z-index: 200;
  cursor: default;
  overflow: auto;
}
.hide{
  display: none;
}
.aphorism {
  color: #a6b9e4;
  font-weight: bold;
  font-size: 20px;
}
.Quote {
  background-color: #424c4f;
}
.Quote:after {
  content: "☭";
}
.Tab {
  margin-left: 3.5%;
}
.Tab + p {
  margin-left: 3.5%;
}
/*---------Expansion Style---------*/
.Expansion,
.Imgs {
  display: inline-block;
  text-decoration-line: underline;
  font-family: 文泉驿等宽微米黑, sans-serif, monospace;
  text-shadow: 1px 1px 1px #830600, 2px 2px 2px #004284;
}
.Expansion:hover {
  cursor: pointer;
  transition-duration: 0.6s;
  text-decoration-line: underline overline;
  letter-spacing: 0.1em;
  text-shadow: -1px -1px 1px #111, 2px 2px 1px #363636;
}
.Expansioned {
  letter-spacing: 0.1em;
}
/*---------End---------*/
div.hidden {
  display: none;
  visibility: hidden;
}
