.btn {
  -webkit-box-align: center;
  align-items: center;
  box-sizing: border-box;
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  text-decoration-line: none;
  vertical-align: middle;
  margin: 0px;
  overflow: hidden;
  background-color: var(--colorNeutralBackground1);
  color: var(--colorNeutralForeground1);
  border: var(--strokeWidthThin) solid var(--colorNeutralStroke1);
  font-family: var(--fontFamilyBase);
  outline-style: none;
  padding: 5px var(--spacingM);
  border-radius: var(--borderRadiusMedium);
  font-size: var(--fontSizeBaseSmall);
  font-weight: var(--fontWeightSemibold);
  line-height: var(--lineHeightFixed300);
  transition-duration: var(--durationFast);
  transition-property: background, border, color;
  transition-timing-function: var(--curveEasyEase);

  &:hover {
    background-color: var(--colorNeutralBackground1Hover);
    border-color: var(--colorNeutralStroke1Hover);
    color: var(--colorNeutralForeground1Hover);
    cursor: pointer;

    > svg {
      filter: brightness(0.9);
    }

    &:active {
      background-color: var(--colorNeutralBackground1Pressed);
      color: var(--colorNeutralForeground1Pressed);
      outline-style: none;
    }
  }

  > svg {
    -webkit-box-align: center;
    align-items: center;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 20px;
    height: 20px;
    width: 20px;
  }
}

.subtle {
  background-color: var(--colorSubtleBackground);
  color: var(--colorNeutralForeground2);
  border-color: transparent;

  &:hover {
    background-color: var(--colorSubtleBackgroundHover);
    color: var(--colorNeutralForeground2Hover);
    border-color: transparent;

    &:active {
      background-color: var(--colorSubtleBackgroundPressed);
      color: var(--colorNeutralForeground2Pressed);

      > svg {
        color: var(--colorNeutralForeground2BrandPressed);
      }
    }
    > svg {
      color: var(--colorNeutralForeground2BrandHover);
    }
  }
}

.transparent {
  background-color: var(--colorTransparentBackground);
  border-color: transparent;
  color: var(--colorNeutralForeground2);

  &:hover {
    background-color: var(--colorTransparentBackgroundHover);
    border-color: transparent;
    color: var(--colorNeutralForeground2BrandHover);

    &:active {
      background-color: var(--colorTransparentBackgroundPressed);
      color: var(--colorNeutralForeground2BrandPressed);
    }
  }
}
