/* 豆瓣 */
.Douban {
  width: 675px;
  padding-right: 40px;
  font:
    12px Helvetica,
    Arial,
    sans-serif;
  line-height: 1.62;
  margin-top: 40px;

  h1 {
    font-size: 26px;
    padding-bottom: 18px;
    word-wrap: break-word;
    display: block;
    font-weight: bold;
    color: #494949;
    margin: 0;
    padding: 0 0 15px 0;
    line-height: 1.1;
  }

  h4,
  h3 {
    margin: 1em 0;
  }

  article {
    color: #111;
    margin-top: 10px;
    word-wrap: break-word;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 20px;
    margin-bottom: 1em;
    border-bottom: 1px solid #eee;

    div[class="meta"] {
      color: #999;
      line-height: 1.4;
      font-size: 13px;
      margin-bottom: 20px;
      overflow: hidden;
      padding-top: 4px;

      a {
        color: #666699;
        text-decoration: none;
      }

      span[class="rating"] {
        zoom: 1;
        content: " ";
        font-size: 0;
        background: -webkit-image-set(
              url(https://img3.doubanio.com/f/shire/b8f4c3672ef81106701071831e22422a745d3b74/pics/rating_icons/ic_rating_s.png) 1x,
              url(https://img3.doubanio.com/f/shire/b8f4c3672ef81106701071831e22422a745d3b74/pics/rating_icons/ic_rating_s@2x.png) 2x
            )
            no-repeat;
        display: inline-block;
        margin: 0 5px;
        width: 55px;
        height: 11px;
        overflow: hidden;
        cursor: default;
        pointer-events: none;

        &[rate="4"] {
          background-position: 0 -22px;
        }
      }
    }

    & > p {
      margin-top: 2em;
    }
  }

  [role="figcaption"] {
    text-align: center;
    margin-bottom: 1.5em;
  }

  nav > a {
    color: #666699;
  }

  & + div[class="empty"] {
    width: 100%;
    height: calc(100% + 80px);
    background-color: #fff;
    position: absolute;
    z-index: -999;
    top: 0;
    left: 0;
  }
}
