/* 贴吧 */
.TieBa {
  width: 980px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 20px auto;
  background: #fdfdfd;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  position: relative;
  margin-bottom: 0;
  min-height: 0;
  border-radius: 20px;
}
.TieBa > h1 {
  line-height: 56px;
  position: relative;
  border: none;
  overflow: visible;
  background: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 20px;
  font-weight: 400;
  font-size: 16px;
  width: 100%;
  z-index: 4;
  border-radius: inherit;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  color: #f74d4a;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: rgba(0, 0, 0, 0.01);
  margin: 0;
}
.TieBa > h1::before {
  content: "XX吧";
  display: block;
  background: rgba(0, 0, 0, 0.03);
  margin-left: -20px;
  padding-top: 15px;
  padding-left: 104px;
  z-index: 9;
  border-radius: inherit;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  text-transform: capitalize;
  font-size: 24px;
  color: #555;
}
.TieBa nav > a {
  color: #555;
}
.TieBa article > div {
  background: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  line-height: 24px;
  font-size: 16px;
  color: rgb(51, 51, 51);
  padding: 25px 25px 25px 205px;
  width: 700px;
}
.TieBa article > div > h1 {
  font-size: 16px;
}
.TieBa article > div > p {
  font-size: 14px;
  width: 100%;
}
.TieBa article > div > p [role="figcaption"] {
  text-align: center;
}
.TieBa article > div::before {
  content: " ";
  padding: 20px 0;
  float: left;
  text-align: center;
  font-size: 0;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 180px;
  border-right: 1px solid rgba(0, 0, 0, 0.1) !important;
  box-sizing: border-box;
}
.TieBa article blockquote {
  background-color: #f5f5f5;
  font-size: 12px;
  border-left: 1px solid #bbb;
  padding-left: 1ch;
  position: relative;
}
.TieBa article blockquote em {
  display: block;
  float: right;
  padding-right: 1ch;
}
.TieBa article blockquote em::before {
  content: "--《";
}
.TieBa article blockquote em::after {
  content: "》";
}
/* 贴吧 */
