.iconContainer {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  margin-right: 4px;
}
.iconContainer svg {
  font-size: 18px;
}
.tree {
  margin: 1.4em 0 !important;
  display: table;
}
.treeItem {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.selected *[role*="menuitem"] {
  background-color: #e8eaee;
  border-radius: 0.25em;
}
.treeLabel {
  width: 100%;
  position: relative;
  padding-left: 4px;
}
