:root {
  --borderRadiusNone: 0;
  --borderRadiusSmall: 2px;
  --borderRadiusMedium: 4px;
  --borderRadiusLarge: 6px;
  --borderRadiusCircular: 100%;
  --fontSizeBase100: 10px;
  --fontSizeBase200: 12px;
  --fontSizeBase300: 14px;
  --fontSizeBase400: 16px;
  --fontSizeBase500: 20px;
  --fontSizeBase600: 24px;
  --fontSizeHero700: 28px;
  --fontSizeHero800: 32px;
  --lineHeightBase100: 14px;
  --lineHeightBase200: 16px;
  --lineHeightBase300: 20px;
  --lineHeightBase400: 22px;
  --lineHeightBase500: 28px;
  --lineHeightBase600: 32px;
  --lineHeightHero700: 36px;
  --lineHeightHero800: 40px;
  --fontFamilyBase: "Segoe UI", "Segoe UI Web (West European)", -apple-system,
    BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  --fontFamilyMonospace: Consolas, "Courier New", Courier, monospace;
  --fontFamilyNumeric: Bahnschrift, "Segoe UI", "Segoe UI Web (West European)",
    -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  --fontWeightRegular: 400;
  --fontWeightMedium: 500;
  --fontWeightSemibold: 600;
  --fontWeightBold: 700;
  --strokeWidthThin: 1px;
  --strokeWidthThick: 2px;
  --strokeWidthThicker: 3px;
  --strokeWidthThickest: 4px;
  --spacingHorizontalNone: 0;
  --spacingHorizontalXXS: 2px;
  --spacingHorizontalXS: 4px;
  --spacingHorizontalSNudge: 6px;
  --spacingHorizontalS: 8px;
  --spacingHorizontalMNudge: 10px;
  --spacingHorizontalM: 12px;
  --spacingHorizontalL: 16px;
  --spacingHorizontalXL: 20px;
  --spacingHorizontalXXL: 24px;
  --spacingVerticalNone: 0;
  --spacingVerticalXXS: 2px;
  --spacingVerticalXS: 4px;
  --spacingVerticalSNudge: 6px;
  --spacingVerticalS: 8px;
  --spacingVerticalMNudge: 10px;
  --spacingVerticalM: 12px;
  --spacingVerticalL: 16px;
  --spacingVerticalXL: 20px;
  --spacingVerticalXXL: 24px;
  --durationFastest: 50ms;
  --durationFast: 150ms;
  --durationNormal: 200ms;
  --durationSlow: 300ms;
  --durationSlowest: 400ms;
  --curveAccelerateMax: cubic-bezier(1, 0, 1, 1);
  --curveAccelerateMid: cubic-bezier(0.7, 0, 1, 0.5);
  --curveAccelerateMin: cubic-bezier(0.8, 0, 1, 1);
  --curveDecelerateMax: cubic-bezier(0, 0, 0, 1);
  --curveDecelerateMid: cubic-bezier(0.1, 0.9, 0.2, 1);
  --curveDecelerateMin: cubic-bezier(0.33, 0, 0.1, 1);
  --curveEasyEaseMax: cubic-bezier(0.8, 0, 0.1, 1);
  --curveEasyEase: cubic-bezier(0.33, 0, 0.67, 1);
  --curveLinear: cubic-bezier(0, 0, 1, 1);
  --colorNeutralForeground1: #ffffff;
  --colorNeutralForeground1Hover: #ffffff;
  --colorNeutralForeground1Pressed: #ffffff;
  --colorNeutralForeground1Selected: #ffffff;
  --colorNeutralForeground2: #d6d6d6;
  --colorNeutralForeground2Hover: #ffffff;
  --colorNeutralForeground2Pressed: #ffffff;
  --colorNeutralForeground2Selected: #ffffff;
  --colorNeutralForeground2BrandHover: #479ef5;
  --colorNeutralForeground2BrandPressed: #2886de;
  --colorNeutralForeground2BrandSelected: #479ef5;
  --colorNeutralForeground3: #adadad;
  --colorNeutralForeground3Hover: #d6d6d6;
  --colorNeutralForeground3Pressed: #d6d6d6;
  --colorNeutralForeground3Selected: #d6d6d6;
  --colorNeutralForeground3BrandHover: #479ef5;
  --colorNeutralForeground3BrandPressed: #2886de;
  --colorNeutralForeground3BrandSelected: #479ef5;
  --colorNeutralForegroundDisabled: #5c5c5c;
  --colorNeutralForegroundInvertedDisabled: rgba(255, 255, 255, 0.4);
  --colorBrandForegroundLink: #479ef5;
  --colorBrandForegroundLinkHover: #62abf5;
  --colorBrandForegroundLinkPressed: #2886de;
  --colorBrandForegroundLinkSelected: #479ef5;
  --colorBrandForeground1: #479ef5;
  --colorBrandForeground2: #62abf5;
  --colorNeutralForeground1Static: #242424;
  --colorNeutralForegroundStaticInverted: #ffffff;
  --colorNeutralForegroundInverted: #242424;
  --colorNeutralForegroundInvertedHover: #242424;
  --colorNeutralForegroundInvertedPressed: #242424;
  --colorNeutralForegroundInvertedSelected: #242424;
  --colorNeutralForegroundInverted2: #242424;
  --colorNeutralForegroundOnBrand: #ffffff;
  --colorNeutralBackground1: #292929;
  --colorNeutralBackground1Hover: #3d3d3d;
  --colorNeutralBackground1Pressed: #1f1f1f;
  --colorNeutralBackground1Selected: #383838;
  --colorNeutralBackground2: #1f1f1f;
  --colorNeutralBackground2Hover: #333333;
  --colorNeutralBackground2Pressed: #141414;
  --colorNeutralBackground2Selected: #2e2e2e;
  --colorNeutralBackground3: #141414;
  --colorNeutralBackground3Hover: #292929;
  --colorNeutralBackground3Pressed: #0a0a0a;
  --colorNeutralBackground3Selected: #242424;
  --colorNeutralBackground4: #0a0a0a;
  --colorNeutralBackground4Hover: #1f1f1f;
  --colorNeutralBackground4Pressed: #000000;
  --colorNeutralBackground4Selected: #1a1a1a;
  --colorNeutralBackgroundInverted: #f5f5f5;
  --colorNeutralBackground6: #333333;
  --colorSubtleBackground: transparent;
  --colorSubtleBackgroundHover: #383838;
  --colorSubtleBackgroundPressed: #2e2e2e;
  --colorSubtleBackgroundSelected: #333333;
  --colorSubtleBackgroundLightAlphaHover: rgba(36, 36, 36, 0.8);
  --colorSubtleBackgroundLightAlphaPressed: rgba(36, 36, 36, 0.5);
  --colorSubtleBackgroundLightAlphaSelected: transparent;
  --colorSubtleBackgroundInverted: transparent;
  --colorSubtleBackgroundInvertedHover: rgba(0, 0, 0, 0.1);
  --colorSubtleBackgroundInvertedPressed: rgba(0, 0, 0, 0.3);
  --colorSubtleBackgroundInvertedSelected: rgba(0, 0, 0, 0.2);
  --colorTransparentBackground: transparent;
  --colorTransparentBackgroundHover: transparent;
  --colorTransparentBackgroundPressed: transparent;
  --colorTransparentBackgroundSelected: transparent;
  --colorNeutralBackgroundDisabled: #141414;
  --colorNeutralBackgroundInvertedDisabled: rgba(255, 255, 255, 0.1);
  --colorBackgroundOverlay: rgba(0, 0, 0, 0.5);
  --colorScrollbarOverlay: rgba(255, 255, 255, 0.6);
  --colorBrandBackground: #115ea3;
  --colorBrandBackground2: #0c3b5e;
  --colorBrandBackgroundHover: #0f6cbd;
  --colorBrandBackgroundPressed: #0c3b5e;
  --colorBrandBackgroundSelected: #0f548c;
  --colorBrandBackgroundStatic: #0f6cbd;
  --colorNeutralStrokeAccessible: #adadad;
  --colorNeutralStrokeAccessibleHover: #bdbdbd;
  --colorNeutralStrokeAccessiblePressed: #b3b3b3;
  --colorNeutralStrokeAccessibleSelected: #479ef5;
  --colorNeutralStroke1: #666666;
  --colorNeutralStroke1Hover: #757575;
  --colorNeutralStroke1Pressed: #6b6b6b;
  --colorNeutralStroke1Selected: #707070;
  --colorNeutralStroke2: #525252;
  --colorNeutralStroke3: #3d3d3d;
  --colorNeutralStrokeOnBrand: #292929;
  --colorNeutralStrokeOnBrand2: #ffffff;
  --colorNeutralStrokeOnBrand2Hover: #ffffff;
  --colorNeutralStrokeOnBrand2Pressed: #ffffff;
  --colorNeutralStrokeOnBrand2Selected: #ffffff;
  --colorBrandStroke1: #479ef5;
  --colorBrandStroke2: #0e4775;
  --colorCompoundBrandStroke: #479ef5;
  --colorCompoundBrandStrokeHover: #62abf5;
  --colorCompoundBrandStrokePressed: #2886de;
  --colorNeutralStrokeDisabled: #424242;
  --colorNeutralStrokeInvertedDisabled: rgba(255, 255, 255, 0.4);
  --colorTransparentStroke: transparent;
  --colorTransparentStrokeInteractive: transparent;
  --colorTransparentStrokeDisabled: transparent;
  --colorStrokeFocus1: #000000;
  --colorStrokeFocus2: #ffffff;
  --colorNeutralShadowAmbient: rgba(0, 0, 0, 0.24);
  --colorNeutralShadowKey: rgba(0, 0, 0, 0.28);
  --colorNeutralShadowAmbientLighter: rgba(0, 0, 0, 0.12);
  --colorNeutralShadowKeyLighter: rgba(0, 0, 0, 0.14);
  --colorNeutralShadowAmbientDarker: rgba(0, 0, 0, 0.4);
  --colorNeutralShadowKeyDarker: rgba(0, 0, 0, 0.48);
  --colorBrandShadowAmbient: rgba(0, 0, 0, 0.3);
  --colorBrandShadowKey: rgba(0, 0, 0, 0.25);
  --shadow2: 0 0 2px rgba(0, 0, 0, 0.24), 0 1px 2px rgba(0, 0, 0, 0.28);
  --shadow4: 0 0 2px rgba(0, 0, 0, 0.24), 0 2px 4px rgba(0, 0, 0, 0.28);
  --shadow8: 0 0 2px rgba(0, 0, 0, 0.24), 0 4px 8px rgba(0, 0, 0, 0.28);
  --shadow16: 0 0 2px rgba(0, 0, 0, 0.24), 0 8px 16px rgba(0, 0, 0, 0.28);
  --shadow2Brand: 0 0 2px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.25);
  --shadow4Brand: 0 0 2px rgba(0, 0, 0, 0.3), 0 2px 4px rgba(0, 0, 0, 0.25);
  --shadow8Brand: 0 0 2px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.25);
  --shadow16Brand: 0 0 2px rgba(0, 0, 0, 0.3), 0 8px 16px rgba(0, 0, 0, 0.25);
}
