.PageRoot {
  position: relative;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.CollapsibleRoot {
  min-width: 300px;
}

.Tag {
  font-size: 1.2em;
  color: var(--colorNeutralForeground1);

  &::before,
  &::after {
    content: '"';
  }

  &:hover {
    color: var(--colorNeutralForeground1Hover);
  }
}

.IconButton {
  font-family: inherit;
  border-radius: 100%;
  height: var(--fontSizeBaseXLarge);
  width: var(--fontSizeBaseXLarge);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--shadow8);
  color: var(--colorNeutralForeground3);

  &[data-state="closed"] {
    background-color: var(--colorNeutralBackground3);
  }
  &[data-state="open"] {
    background-color: var(--colorNeutralBackground3Selected);
  }
  &:hover {
    background-color: var(--colorNeutralBackground3Hover);
  }
  &:focus {
    box-shadow: var(--shadow4);
  }
}

.Text {
  user-select: none;
  color: var(--colorNeutralForeground2);
  font-size: var(--fontSizeBaseSmall);
  line-height: var(--lineHeightFixed500);
}

.PostItem {
  background-color: var(--colorNeutralBackground2);
  border-radius: var(--borderRadiusMedium);
  margin: 10px 0;
  padding: var(--spacingMNudge);
  box-shadow: var(--shadow4);
  display: block;
  transition: all 50ms;

  span {
    @extend .Text;
    user-select: initial;
  }
  &:hover {
    span {
      text-decoration: underline;
    }
  }
}
