.header {
  user-select: none;
  background: rgb(39 51 69);
  border-bottom: 1px solid rgba(50, 50, 50, 0.5);
  overflow: hidden /*enable to BFC*/;
  justify-content: center;
  text-decoration: none;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  width: 100%;
  display: flex;
  z-index: 1100;
  box-sizing: border-box;
  flex-shrink: 0;
  flex-direction: column;
  height: 86px /* if want expanded to hidden Y scrollbar, need this*/;
}
div.toolbar {
  height: 96%;
}
.title[class*="Typography"] {
    font-family: inherit;
    align-items: baseline;
}
.title a {
  color: #eee;
}