$view-height: 328px;

$arrow-margin: 6px;
$arrow-size: 8px;

$view-port-background: var(--colorNeutralBackground6);

.fluent-nav {
  background-color: var(--colorNeutralBackground2);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--shadow4);
}

.nav-section {
  width: 100%;
  max-width: 1366px;
  height: 100%;
  padding: 0 var(--spacingXL);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  background-color: transparent;
}

.nav-menus {
  position: relative;
  margin-left: auto;
  padding: var(--spacingXS);

  & > :not(:first-child) {
    margin-left: var(--spacingS);
  }
  & > :first-child {
    margin-right: auto;
  }
}

.nav-trigger {
  > svg {
    transition: transform 250ms ease;
  }
  &[data-state="open"] > svg {
    transform: rotate(-180deg);
  }
}

.nav-logo {
  font-size: 3rem;
  line-height: 1;
  align-self: center;
  color: var(--colorBrandForegroundLink);
}

.nav-surface {
  animation-duration: 250ms;
  animation-timing-function: ease;

  &[data-motion="from-start"] {
    animation-name: enterFromLeft;
  }
  &[data-motion="from-end"] {
    animation-name: enterFromRight;
  }
  &[data-motion="to-start"] {
    animation-name: exitToLeft;
  }
  &[data-motion="to-end"] {
    animation-name: exitToRight;
  }
}

.nav-indicator {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: $arrow-margin;
  top: 100%;
  z-index: 1;
  transition:
    width,
    transform 250ms ease;

  &[data-state="visible"] {
    animation: fadeIn 200ms ease;
  }
  &[data-state="hidden"] {
    animation: fadeOut 200ms ease;
  }

  > i {
    position: relative;
    top: 70%;
    background-color: $view-port-background;
    border-color: var(--colorTransparentStroke);
    border-radius: var(--borderRadiusSmall);
    box-shadow: var(--shadow16);
    width: $arrow-size;
    height: $arrow-size;
    transform: rotate(45deg);
    border-top-left-radius: 2px;
  }
}

.nav-viewport {
  transform-origin: top center;
  position: absolute;
  display: flex;
  justify-content: center;
  // top: 100%;
  right: 0;
  perspective: 2000px;
  margin-top: $arrow-margin;
  overflow: hidden;
  overflow-y: auto;
  transition:
    width,
    height,
    300ms ease;
  z-index: 99;
  background-color: $view-port-background;
  animation-duration: var(--durationNormal);
  animation-composition: accumulate;

  &[data-state="open"] {
    animation-name: fadeIn;
    animation-timing-function: var(--curveDecelerateMax);
  }
  &[data-state="closed"] {
    animation-name: fadeOut;
    animation-timing-function: var(--curveDecelerateMax);
  }
}

@keyframes enterFromRight {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes enterFromLeft {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes exitToRight {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(200px);
  }
}

@keyframes exitToLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-200px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.overviews {
  display: flex;
  flex-direction: column;
  width: max-content;

  > li {
    flex: 1;
    border-radius: var(--borderRadiusLarge);
    font-size: var(--fontSizeBaseMedium);
    font-weight: var(--fontWeightSemibold);
    color: var(--colorBrandForeground1);
    padding: var(--spacingS);
    display: inline-block;

    &:hover {
      background: rgba(255 255 255 / 0.08);
    }

    a {
      display: block;
    }

    [data-layer="count"] {
      float: right;
      margin-left: var(--spacingL);
      width: 25px;
      height: 25px;
      display: inline-flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      box-shadow: var(--shadow2);
      border-radius: var(--borderRadiusMedium);
      background-color: var(--colorBrandBackground);

      &::after {
        clear: both;
      }
    }
  }
}

.preview {
  margin: 0;
  position: relative;
  height: $view-height;
  padding: var(--spacingL);

  display: grid;
  grid-template-columns: 1fr 0.75fr;
  column-gap: 10px;

  [data-layer="bg"] {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-blend-mode: hard-light;
    mix-blend-mode: lighten;
    background-color: #eee;
  }
  [data-layer="list"] {
    mix-blend-mode: normal;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    scroll-snap-stop: normal;

    > * {
      scroll-snap-align: start;
    }
  }

  ::-webkit-scrollbar {
    width: 4px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #fff1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #fff4;
    border-radius: 6px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #fffa;
  }
}

.item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  outline: none;
  text-decoration: none;
  user-select: none;
  border-radius: var(--borderRadiusLarge);
  font-size: var(--fontSizeBaseSmall);
  line-height: 1;
  height: calc(($view-height - var(--spacingL) * 2) / 3);

  &:hover {
    background: rgba(255 255 255 / 0.08);
  }

  a {
    padding: var(--spacingS);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  p {
    width: 100%;
    line-height: 1.4;
    font-size: var(--fontSizeBaseSmall);
  }

  title {
    line-height: 1.2;
    font-size: var(--fontSizeBaseMedium);
    font-weight: var(--fontWeightSemibold);
    color: var(--colorBrandForegroundLink);
    margin-bottom: var(--spacingM);
  }
}
