.netPost {
  color: inherit;
}
.cblockquote {
  border-left: 4px solid #dddddd;
  color: #777777;
  padding: 0 15px;
  margin: 15px 0;
}

.netPost h2 {
  border-bottom: 1px solid #cccccc;
  line-height: 1.2;
  color: #000000;
  margin: 26px 0 15px;
}

.netPost p {
  margin: 10px 0;
}

.netPost span[class="resp-image-wrapper"] {
  margin: 1em auto !important;
}

.netPost ul {
  margin: 20px;
}
