.surface {
  padding: 16px;
  box-shadow: var(--shadow16);
  border-color: var(--colorTransparentStroke);
  border-style: solid;
  border-width: 1px;
  border-radius: var(--borderRadiusMedium);
  background-color: var(--colorNeutralBackground1);
  color: var(--colorNeutralForeground1);
}
